<header class="header">
    <div class="container clearfix">
        <a class="logo"></a>
        <ul class="nav">
            <li class="nav-li">
                <a href="javascipt:;" class="nav-a">
                    <i class='icon-tasks'></i>
                    <span class="nav-text">
                CSS-util
              </span>
                    <!-- <i class="icon-down-dir down"></i> -->
                </a>
                <div class="nav-li-detail">
                </div>
            </li>
            <li class="nav-li">
                <a href="javascipt:;" class="nav-a">
                    <i class='icon-tasks'></i>
                    <span class="nav-text">
                JS-util
              </span>
                </a>
            </li>
            <li class="nav-li">
                <a href="javascipt:;" class="nav-a">
                    <i class='icon-tasks'></i>
                    <span class="nav-text">
                Python-util
              </span>
                </a>
            </li>
            <li class="nav-li">
                <a href="javascipt:;" class="nav-a">
                    <i class='icon-tags'></i>
                    <span class="nav-text">
                Blog
              </span>
                </a>
            </li>
            <li class="nav-li">
                <input type="text" class="search" placeholder="search"></input>
                <i class="icon-search search-icon"></i>
            </li>
        </ul>
    </div>
</header>
